@use '_paragraph.scss';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  width: fit-content;
  height: fit-content;
  max-width: 1000px;
  padding: 0.75rem;
  text-align: center;
  opacity: 0.85;
  box-shadow: var(--thfw-box-shadow);

  ol {
    li::marker {
      padding: 1rem;
    }
  }
}

.content:has(h1, h2, h3, h4, h5, h6) {
  box-shadow: none;
}