@use './_author.scss';
@use './_author_knowledge.scss';
@use './_content.scss';
@use '_access-denied.scss';

.employee {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 9.5rem 0 5rem;
  width: 100%;
  height: 100%;

  section {
    margin-top: 0;
    min-height: fit-content;
  }
}