@use './_message-card.scss';
@use './_icon.scss';
@use '_group_Members.scss';

div.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;

  section#seven_tech_communications {
    margin: 5rem 0 0;

    main.technology {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }

  section#seven_tech_portfolio {
    margin: 0 0 5rem;
  }
}
