@use './_message-card.scss';
@use './_icon.scss';
@use '_group_Members.scss';

div.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 6rem 0;

  section#seven_tech_communications {
    main.technology {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
}
